{% extends 'layouts/app.html' %}

{% block content %}

<div class="row">
    <h1  class="text-center heading mt-4">Register to see what's in your deep space</h1>
</div>
<div class="row">
    <div class="col-md-3 form">
        {% for e in errors %} 
            <div class="alert alert-danger">{{e}}</div>
        {% endfor %}
        {% for m in msg %} 
            <div class="alert alert-success">{{m}}</div>
        {% endfor %}
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="col-md-3 form">
            <div class="row">
                <p class="lbl">Name</p>
                <input type="text" name="name" required>
            </div>
            <div class="row">
                <p class="lbl">Birthday</p>
                <input type="date" name="bd" required>
            </div>
            <div class="row">
                <p class="lbl">Place of birth</p>
                <input type="text" name="pob" required>
            </div>
            <div class="row">
                <p class="lbl">Sex</p>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <input class="r_hide" value="m" type="radio" name="sex" id="m">
                            <label class="r_lbl" for="m">M</label>
                        </div>
                        <div class="col-md-4">
                            <input class="r_hide" value="f" type="radio" name="sex" id="f">
                            <label class="r_lbl" for="f">F</label>
                        </div>
                        <div class="col-md-4">
                            <input class="r_hide" value="d" type="radio" name="sex" id="d">
                            <label class="r_lbl" for="d">D</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="lbl">E-Mail</p>
                <input type="email" name="email" required>
            </div>
            <div class="row">
                <p class="lbl">Password</p>
                <input type="password" name="password" required>
            </div>
            <div class="row">
                <p class="lbl">Re-Enter Password</p>
                <input type="password" name="re_password" required>
            </div>
            <br>
            <div class="row">
                <P class="text-center">Already Registered ? <a href="" style="color: white;">Login</a></P>
            </div>
            <div class="row ">
                <div class="col-md-4  submit_btn">
                    <button type="submit"><b>Submit</b></button>
                </div>
            </div>
        </div>

    </form>
</div>

{% endblock %}